body {
    background-image: url('C:\Users\Paduru Ananya\OneDrive\Documents\VS REACT\ps2\weather\public\images\546441.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200% auto;
  } 